{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}

<div class="mt-5">
    <h2>Historia kodów QR</h2>
    <table>
    <tr>
        <th>Dane</th>
        <th>Rozmiar</th>
        <th>Kolor QR</th>
        <th>Kolor tła</th>
        <th>Data wykonania</th>
    </tr>
    {% for qr in qrs %}
    <tr>
        <td>{{ qr.data }}</td>
        <td>{{ qr.size }}</td>
        <td>{{ qr.color_fg }}</td>
        <td>{{ qr.color_bg }}</td>
        <td>{{ qr.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}